

img{
    width: 200px;
    height: 300px;
}
artcle{
    display: flex;
}

.buy_form{
    
    text-align: center;
}
.buy_form input{
    width: 300px;
    height: 70px;
    background-color: #99FFFF;
    cursor: pointer;
}